body {
  background-color: #1a1a40;
  height: 100vh;
  width: 100%;
  position: relative;
}
/* Stars in BG */
.box {
  background-color: white;
  position: fixed;
  border-radius: 50%;
  z-index: 0;
  animation: animated 80s linear infinite;
  transition: all 80s linear;
  width: 200%;
}
@keyframes animated {
  0% {
    transform: translate(-3000px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
hr {
  color: white;
  border: 1px solid #f7dba7;
}
.dot1 {
  height: 50px;
  width: 50px;
  background-color: #f7dba7;
  border-radius: 50%;
  top: 15px;
  position: absolute;
  left: 100px;
  transition: all 0.7s ease-out;
}
.dot1:hover {
  transform: rotateY(180deg) rotateX(180deg);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 219, 167, 1) 100%
  );
}
.dot2 {
  height: 40px;
  width: 40px;
  background-color: #f7dba7;
  border-radius: 50%;
  top: 21px;
  position: absolute;
  left: 200px;
  transition: all 0.7s ease-out;
}
.dot2:hover {
  transform: rotateY(180deg) rotateX(180deg);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 219, 167, 1) 100%
  );
}
.dot3 {
  height: 30px;
  width: 30px;
  background-color: #f7dba7;
  border-radius: 50%;
  top: 27px;
  position: absolute;
  left: 290px;
  transition: all 0.7s ease-out;
}
.dot3:hover {
  transform: rotateY(180deg) rotateX(180deg);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 219, 167, 1) 100%
  );
}
.dot4 {
  height: 300px;
  width: 300px;
  background-color: #f7dba7;
  border-radius: 50%;
  top: -10px;
  position: absolute;
  right: 0;
  z-index: 0;
  transition: all 0.8s ease-in-out;
}
.dot4:hover {
  background: radial-gradient(
    circle,
    rgba(255, 245, 123, 1) 0%,
    rgba(255, 228, 105, 1) 20%,
    rgba(254, 204, 81, 1) 40%,
    rgba(252, 176, 51, 1) 60%,
    rgba(250, 150, 27, 1) 80%,
    rgba(250, 134, 7, 1) 100%
  );
  background-color: #f7dba7;
  box-shadow: 0px 0px 100px white;
  color: cornsilk;
  transform: scale(1.5) translate3d(100px, -62px, -135px);
}
.dot5 {
  height: 300px;
  width: 300px;
  background-color: #f7dba7;
  border-radius: 50%;
  z-index: 3;
}
.title {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
#titletext {
  margin-top: 0;
  padding-top: 20px;
  color: white;
  position: relative;
  font-family: "Tangerine", serif;
  font-size: 48px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 30px;
  width: 100%;
}
.grid-container-small {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
#checkbox1,
#checkbox2,
#checkbox3 {
  display: none;
}
.card {
  background-color: #3a1078;
  border: 0 solid white;
  padding: 20px;
  width: 600px;
  height: 360px;
  border-radius: 16px;
  margin: auto;
  color: white;
  cursor: pointer;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 10px #f7dba7;
  transition: all 0.5s ease-in-out;
}
.card-big {
  transition: all 0.5s ease-in-out;
  background-color: #3a1078;
  border: 0 solid white;
  padding: 20px;
  transition-delay: 200ms;
  width: 600px;
  height: 360px;
  border-radius: 16px;
  margin: auto;
  color: white;
  z-index: 2;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.card:hover {
  box-shadow: 0px 0px 10px white;
  transform: scale(1.02);
  background-color: #4e31aa;
}
.card1-hover {
  transform: scale(3.1) translate(220px, 100px);
  z-index: 3;
}
.card2-hover {
  transform: scale(3.1) translate(0, 100px);
  z-index: 3;
}
.card3-hover {
  transform: scale(3.1) translate(-220px, 100px);
  z-index: 3;
}
.mini-card {
  background-color: #7a0bc0;
  border: 0 solid white;
  padding: 20px;
  width: 320px;
  height: 120px;
  border-radius: 16px;
  margin: auto;
  transition: all 0.25 ease-in-out;
  z-index: 1;
  color: white;
}
.mini-card:hover {
  box-shadow: 0px 0px 20px white;
  transform: scale(1.1);
  background-color: cornsilk;
  color: black;
}
.medium-card {
  box-shadow: 0px 0px 10px cornsilk;
  background-color: #3a1078;
  border: 0 solid white;
  padding: 20px;
  width: 420px;
  height: 200px;
  border-radius: 16px;
  margin: auto;
  z-index: 1;
  color: white;
}
.medium-card.clicked {
  transition: all 0.7s ease;
  transform: rotateX(360deg);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.medium-card:hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  /* transform: scale(1.1); */
}
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}
